@font-face {
	font-family: "Ink-font";
	src: url("./Ink-free.woff");
	font-weight: normal;
}

:root {
	--yellow: #f9e11e;
	--orange: #f0ab00;
	--blue: #0046ad;
	--white: #ffffff;
	--darkBlue: #41505f;
	--fontBread: "Source Sans Pro", sans-serif;
}

* {
	margin: 0;
	padding: 0;
}

.bodyBox {
	width: 100vw;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column nowrap;
	background-image: url("images/background.jpg");
	background-color: white;
	background-position: top;
	background-repeat: no-repeat;
	background-clip: border-box;
	z-index: -10;
}

.headerText {
	display: flex;
	flex-flow: column nowrap;
	font-family: var(--fontBread);
	color: var(--darkBlue);
	width: 40vw;
}

.headerText .buttons {
	width: 10vw;
	margin: 10px 0;
}

.headerText h1 {
	text-transform: uppercase;
	font-size: 4.5vh;
}

.headerText p {
	font-size: 1.5vh;
	width: 30vw;
	text-align: left;
}

.headerInfo {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	background-color: white;
	margin: 30px 0;
	width: 70vw;
	padding: 30px 40px;
	box-shadow: black 1px 1px 10px;
}

.images {
	width: 23vw;
	height: auto;
	margin: 0;
}

.header {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: flex-start;
	height: 6vh;
	width: 100vw;
	padding: 10px;
	background-color: white;
}

.logo {
	margin-left: 60px;
	height: 5vh;
	transition: 0;
}

.text {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	color: var(--darkBlue);
	font-family: var(--fontBread);
}

.text h1 {
	border-bottom: 1px solid black;
}

.list {
	width: 82vw;
	background-color: white;
	padding: 50px;
	font-family: "Ink-font", Fallback, "Shadows Into Light Two";
}

ul {
	list-style: none;
	height: 50vh;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-evenly;
	align-items: center;
}
li {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	font-size: 3.5vh;
	margin: 20px;
	color: var(--darkBlue);
	text-align: left;
	height: calc(15% - 20px);
	width: 33vw;
}
.box {
	position: relative;
	height: 24px;
	width: 24px;
	margin-right: 6px;
	text-align: center;
	font-size: 42px;
	line-height: 24px;
	border: 3px solid var(--darkBlue);
}

.buttonContainer {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	background-color: white;
	padding: 20px;
	margin: 20px;
	width: calc(50vw - 80px);
	box-shadow: black 1px 1px 10px;
}

.buttonContainer .buttons {
	margin: 10px;
}

.buttons {
	text-decoration: none;
	background-color: white;
	color: var(--darkBlue);
	font-family: var(--fontBread);
	margin: 0;
	padding: 8px;
	border: 3px solid var(--darkBlue);
}

.buttons:hover {
	cursor: pointer;
	color: white;
	background-color: var(--darkBlue);
}

.footer {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	width: auto;
}
.infoText {
	padding: 20px;
	margin: 20px;
	width: calc(50vw - 80px);
	background-color: white;
	color: var(--darkBlue);
	font-family: var(--fontBread);
	box-shadow: black 1px 1px 10px;
}

.infoText h1 {
	font-size: 5vh;
}

.infoText p {
	font-size: 3vh;
}

@media (max-width: 1024px) {
	.headerImages {
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
		background-color: white;
		margin: 20px 0;
		padding: 0;
		box-shadow: black 1px 1px 10px;
	}

	.headerImages h1 {
		margin: 10px;
		font-family: var(--fontBread);
	}

	.headerText {
		text-align: center;
		font-family: var(--fontBread);
		color: var(--darkBlue);
	}

	.headerText h1 {
		font-size: 2.5vh;
		text-align: left;
		text-transform: uppercase;
	}

	.headerText p {
		text-align: left;
		font-size: 1.2vh;
	}

	.headerText .buttons {
		width: 25vw;
		margin: 10px 0;
	}

	.imageContainer {
		display: flex;
		flex-flow: column;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		padding: 2vh;
		margin: 40px 0;
		height: 70vh;
		background-color: white;
	}

	.images {
		max-width: 40vw;
		height: auto;
		margin: 1vh;
	}

	.list {
		box-shadow: black 1px 1px 10px;
	}

	.text h1 {
		font-size: 3vh;
		border-bottom: 1px solid black;
	}
	.text p {
		font-size: 2.5vh;
	}

	ul {
		list-style: none;
		height: auto;
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-evenly;
		align-items: center;
	}
	li {
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		align-items: center;
		font-size: 3vh;
		margin: 20px;
		color: black;
		text-align: left;
		width: 66vw;
	}

	.buttonContainer {
		height: 30vh;
	}

	.buttons {
		padding: 8px;
		font-size: 2vh;
	}

	.infoText {
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		padding: 20px;
		font-family: var(--fontBread);
		color: var(--darkBlue);
		box-shadow: black 1px 1px 10px;
		background-color: white;
		height: 30vh;
	}

	.infoText h1 {
		font-size: 4vh;
	}

	.infoText p {
		font-size: 2.5vh;
	}
}

@media (max-width: 430px) {
	.header {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: flex-start;
		height: 6vh;
		width: calc(100vw - 20px);
		padding: 10px;
		background-color: white;
	}

	.logo {
		margin-left: 15px;
	}

	.headerInfo {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		justify-content: center;
		background-color: white;
		margin: 30px 60px;
		width: calc(100vw - 100px);
		padding: 20px;
	}

	.headerText {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		justify-content: center;
		font-family: var(--fontBread);
		color: var(--darkBlue);
		width: 40vw;
	}

	.headerText .buttons {
		width: 25vw;
		margin: 10px 0;
	}

	.images {
		width: 23vw;
		height: auto;
		margin: 0 0 0 0;
	}

	.headerText {
		text-align: center;
		font-family: var(--fontBread);
		color: var(--darkBlue);
		width: 70vw;
	}

	.headerText h1 {
		font-size: 3vh;
		text-transform: uppercase;
	}

	.headerText p {
		text-align: left;
		font-size: 1.5vh;
		width: 70vw;
	}

	.imageContainer {
		display: flex;
		flex-flow: column wrap;
		justify-content: space-evenly;
		padding: 20px;
		margin: 0;
		width: calc(100vw - 100px);
		height: 50vh;
		background-color: white;
	}

	.images {
		width: 35vw;
		height: auto;
		margin: 0;
	}

	.text {
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
		color: var(--darkBlue);
		font-family: var(--fontBread);
	}

	.text h1 {
		font-size: 3vh;
		border-bottom: 1px solid black;
	}

	.list {
		width: calc(100vw - 100px);
		background-color: white;
		padding: 40px;
		font-family: "Ink-font", Fallback, "Shadows Into Light Two";
	}

	ul {
		list-style: none;
		height: auto;
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-evenly;
		align-items: center;
	}
	li {
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		align-items: center;
		font-size: 20px;
		margin: 20px;
		color: var(--darkBlue);
		text-align: left;
		width: 66vw;
	}

	.footer {
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
	}

	.buttonContainer {
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
		background-color: white;
		padding: 20px;
		margin: 20px 30px;
		width: calc(100vw - 100px);
		box-shadow: black 1px 1px 10px;
	}

	.buttons {
		text-decoration: none;
		background-color: white;
		color: var(--darkBlue);
		font-family: var(--fontBread);
		margin: 0;
		padding: 8px;
		font-size: 1.5vh;
		border: 3px solid var(--darkBlue);
	}

	.buttons:hover {
		cursor: pointer;
		color: white;
		background-color: var(--darkBlue);
	}

	.infoText {
		padding: 20px;
		margin: 20px 30px;
		width: calc(100vw - 100px);
		font-family: var(--fontBread);
		color: var(--darkBlue);
		box-shadow: black 1px 1px 10px;
		background-color: white;
	}

	.infoText h1 {
		font-size: 5vh;
	}

	.infoText p {
		font-size: 3vh;
	}
}
